nav {
  display: flex;
  justify-content: space-around;
  background-color: #35495e;
  margin-bottom: 2%;
  padding: 0.75em;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: black;
  transition: color 0.2s;
}

nav a:hover {
  color: #ff7e67;
}

body {
  margin: 0px;
  font-family: "Arial", sans-serif;
  height: 100%;
  width: 100%;
  color: white;
}

h1 {
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  opacity: 1;
}

#about:hover h3 {
  visibility:visible;
}
.position-description{
  justify-content: center;
}

#about p {
  box-sizing: border-box;
  background-color: #7dd87d;
  max-width: min(700px, 90%);
  left: 0;
  right: 0;
  padding: 20px;
}


#meet-us {
  background-color: whitesmoke;
  color:black; 
  background-blend-mode:color;
  text-align: center;
  padding: 5px 0;
  width: min(1500px, 100%);
  border-radius: 25px;
}

#team-members {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
  width: min(700px, 90%);
  background-color: #7dd87d;
  border-radius: 25px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  transition: transform 0.3s;
  background-color: cadetblue;
}

.team-member:hover {
  transform: translateY(-5px);
}

.headshot {
  width: 120px; /* work on sizes */
  height: 150px;
  margin-bottom: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: darkgray;
}

.info-box {
  bottom: -100%;
  left: 50%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s, bottom 0.3s;;
}

.team-member:hover .info-box {
  opacity: 1;
  bottom: 0; /*Slide on hover */
}

.info-box h4 {
  color: #333;
  margin-bottom: 5px;
}

.social-link {
  width: 30px;
  height: auto;
  margin: 5px;
  transition: transform 0.3s;
}

.social-link:hover {
  transform: scale(1.2);
}

/*Search.jsx*/
#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-bar {
  height: 15px;
  width: 400px;

  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#search-button {
  height: 22px;
  width: 64px;
  box-sizing: content-box;

  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.1s ease;
}

#search-button:hover {
  background-color: #0056b3;
}

#search-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.search-dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  padding-right: 10px;
  background-color: white;
  cursor: pointer;
}

.search-dropdown select {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 2px;
  cursor: pointer;
}

.dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #666;
  pointer-events: none;
}

.plant-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #7dd87d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, border-color 0.3s ease;
  color: black;
  border-radius: 25px;
}

.plant-container:hover {
  border-color: black;
  background-color: rgba(100, 100, 100, 0.8);
}

.plant-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  list-style: none;
  margin-right: 10px;
  padding: 0;
  flex: 1;
}

.plant-container ul li {
  margin-bottom: 5px;
}

.invasive {
  color: rgb(255, 68, 68);
}
.non-invasive {
  color: rgb(1, 219, 1);
}

.plant-container img {
  max-width: 200px;
  max-height: 200px;
  padding-left: 20px;
  padding-right: 20px;

  padding: 10px;
  transition: width 0.3s ease, height 0.3s ease;
}

.plant-container img:hover {
  max-width: none;
  max-height: none;
  width: 750px;
  height: 750px;
  transition: width 0.3s ease, height 0.3s ease;
}
.plant-container p {
  max-width: 300px;
  padding-left: 20px;
}

.plant-container a {
  text-decoration: none;
}

.plant-container a:hover {
  text-decoration: underline;
}

#no-results-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#no-results-message p {
  font-size: 16px;
  margin-bottom: 10px;
}

#no-results-message img {
  max-width: 100px;
  opacity: 0.95;
}

/*CreateUser.jsx*/
.register-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 20px;

  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.register-login-form label {
  font-weight: bold;
}

.register-login-form input {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-info-error-message {
  color: red;
  font-size: 12px;
  margin: 0;
}

.register-login-button {
  margin-top: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.register-login-button:hover {
  background-color: #0056b3;
}

.register-login-button:disabled {
  background-color: #a8d2ff; /* Light gray background for disabled state */
  cursor: not-allowed;
  opacity: 0.7;
}
