nav {
  display: flex;
  justify-content: space-around;
  background-color: cadetblue;
  margin-bottom: 2%;
  padding: 0.75em;
  background-color: darkgray;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  color: white;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;

  filter: blur(8px);
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px 15px;
  min-width: 750px;
  border-radius: 50px;
  background-color: transparent;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1rem;
  justify-content: space-between;
}

h1 {
  display: flex;
  align-content: center;
  justify-content: center;
  top: 50%;
  left: 50%;
}

#about p {
  box-sizing: border-box;
  background-color: darkgray;
  left: 0;
  right: 0;
}

#creators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;

  bottom: 0;
  width: 100%;
  position: fixed; /*Maybe remove this*/

  font-size: 70%;
  background-color: darkgray;
  margin-top: 2%;
}

.team-member {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.headshot {
  max-width: 100px;
  height: auto;
  transition: transform 0.3s;
}

.info-box {
  position: absolute;
  bottom: 0;
  width: 80px;
  height: 100%;
  background-color: white;
  padding: 10px;
  text-align: center;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
  pointer-events: none; /* Allow hovering over the box */


  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}

.team-member:hover .headshot {
  transform: translateY(-100%);
}

.team-member:hover .info-box {
  opacity: 1;
}

.info-box h4 {
  color: black;
}

.social-link {
  width: auto;
  height: 30px;
  max-height: 30px;
  margin-left: 2px;
  margin-right: 2px;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-bar {
  height: 15px;
  width: 400px;

  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#search-button {
  height: 22px;
  width: 64px;
  box-sizing: content-box;

  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.1s ease;
}

#search-button:hover {
  background-color: #0056b3;
}

#search-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.search-dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  padding-right: 10px;
  background-color: white;
  cursor: pointer;
}

.search-dropdown select {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 2px;
  cursor: pointer;
}

.dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #666;
  pointer-events: none;
}

.plant-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgba(150, 150, 150, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.plant-container:hover {
  border-color: black;
  background-color: rgba(100, 100, 100, 0.8);
}

.plant-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  list-style: none;
  margin-right: 10px;
  padding: 0;
  flex: 1;
}

.plant-container ul li {
  margin-bottom: 5px;
}

.invasive {
  color: rgb(255, 68, 68);
}
.non-invasive {
  color: rgb(1, 219, 1);
}

.plant-container img {
  max-width: 200px;
  max-height: 200px;
  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid #ccc;
  padding: 10px;
}

.plant-container p {
  max-width: 300px;
  padding-left: 20px;
}

.plant-container a {
  text-decoration: none;
}

.plant-container a:hover {
  text-decoration: underline;
}

#no-results-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#no-results-message p {
  font-size: 16px;
  margin-bottom: 10px;
}

#no-results-message img {
  max-width: 100px;
  opacity: 0.95;
}