.github {
  width: auto;
  height: 50px;
  max-height: 50px;
}

.linkedin {
  width: auto;
  height: 50px;
  max-height: 50px;
}

.gmail {
  width: auto;
  height: 50px;
  max-height: 50px;
}

/*.plant-container {
  display: flex;
}*/

#search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plant-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.plant-container:hover {
  border-color: black;
}

.plant-container p {
  max-width: 300px;
  padding-left: 20px;
}

.plant-container img {
  max-width: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

