/*Main.jsx and Home.jsx*/
nav {
  display: flex;
  justify-content: space-around;
  background-color: #35495e;
  margin-bottom: 2%;
  padding: 0.75em;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: #f5f5f5;
  transition: color 0.2s;
}

nav a:hover {
  color: #ff7e67;
}

body {
  font-family: "Arial", sans-serif;
  color: white;
}

h1 {
  text-align: center;
  font-weight: bolder;
  padding-top: 0px;
  margin-top: 0;
  font-size: xxx-large;
  text-shadow: 2px 2px 4px #000000;
}
.logo{
  display: flex;
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 50%;
  margin-bottom: 0;
  margin-left: 25%;
  /* flex-direction: row-reverse; */
  justify-content: center;
}

h4 {
  text-shadow: 2px 2px 4px #000000;
  padding: 0%;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  opacity: 1;
}

.position-description {
  justify-content: center;
  background-color: rgba(62, 91, 125, 0.596);
  border-radius: 25px;
}

#about p {
  box-sizing: border-box;
  background-color: rgba(235, 158, 80, 0.751);
  max-width: min(700px, 90%);
  padding: 20px;
  border-radius: 25px;
  justify-content: center;
  font-style: italic;
}

#creatorName {
  background-color: rgba(62, 91, 125, 0.596);
  text-align: center;
  padding: 5px 0;
  width: min(1500px, 100%);
  border-radius: 25px;
}

#team-members {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
  width: min(700px, 90%);
  border-radius: 25px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  padding: 5px;
  margin: 5px;
}

.team-member:hover {
  transform: translateY(-5px);
}

.headshot {
  width: 120px; /* work on sizes */
  height: 150px;
  margin-bottom: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: darkgray;
}

.info-box {
  bottom: -100%;
  left: 50%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s, bottom 0.3s;
}

.team-member:hover .info-box {
  opacity: 1;
  bottom: 0; /*Slide on hover */
}

.info-box h4 {
  color: #333;
  margin-bottom: 5px;
}

.social-link {
  width: 30px;
  height: auto;
  margin: 5px;
  transition: transform 0.3s;
}

.social-link:hover {
  transform: scale(1.2);
}

p {
  display: flex;
  width: 100%;
}

/*Error.jsx*/
.error-page {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  text-align: center;
}

.error-container {
  padding: 50px;
  background-color: #f5f5f5;
  max-width: 800px;
}

#title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.error-container h1 {
  font-size: 48px;
  color: #e74c3c;
}

.error-container img {
  max-width: 100px;
  height: auto;
}

.error-container p {
  font-size: 18px;
  color: #333;
}

.error-container a {
  color: rgb(0, 153, 255);
  text-decoration: none;
}
.error-container a:hover {
  text-decoration: underline;
}

/*Search.jsx*/
#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-bar {
  height: 15px;
  width: 400px;

  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#search-button {
  height: 22px;
  width: 64px;
  box-sizing: content-box;

  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.1s ease;
}

#search-button:hover {
  background-color: #0056b3;
}

#search-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.search-dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  padding-right: 10px;
  background-color: white;
  cursor: pointer;
}

.search-dropdown select {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 2px;
  cursor: pointer;
}

.dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #666;
  pointer-events: none;
}

.plant-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 4px solid #35495e;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #7dd87d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, border-color 0.3s ease;
  color: black;
  border-radius: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.plant-container:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

.plant-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  list-style: none;
  margin-right: 10px;
  padding: 0;
  flex: 1;
}

.plant-container ul li {
  margin-bottom: 5px;
}

.invasive {
  color: rgb(255, 68, 68);
}
.non-invasive {
  color: rgb(1, 219, 1);
}

.plant-container img {
  max-width: 20rem;
  max-height: 20rem;
  margin-left: 10px;
  margin-right: 10px;
  transition: width 0.3s ease, height 0.3s ease;
  border: 4px solid #35495e;
  border-radius: 25px;
}

.plant-container img:hover {
  max-width: none;
  max-height: none;
  width: 750px;
  height: 750px;
  transition: width 0.3s ease, height 0.3s ease;
}
.plant-container p {
  max-width: 300px;
  padding-left: 20px;
}

.plant-container a {
  text-decoration: none;
}

.plant-container a:hover {
  text-decoration: underline;
}

#no-results-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#no-results-message p {
  font-size: 16px;
  margin-bottom: 10px;
}

#no-results-message img {
  max-width: 100px;
  opacity: 0.95;
}

/*login and register pages*/
.register-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 20px;

  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.register-login-form label {
  font-weight: bold;
}

.register-login-form input {
  padding: 7px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-info-error-message {
  color: red;
  font-size: 12px;
  margin-top: -5px;
}

.register-login-button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.register-login-button:hover {
  background-color: #0056b3;
}

.register-login-button:disabled {
  background-color: #a8d2ff;
  cursor: not-allowed;
  opacity: 0.7;
}

/*.link {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 5px;
}*/

.link a {
  color: rgb(0, 153, 255);
  text-decoration: none;
}
.link a:hover {
  text-decoration: underline;
}

/* User.jsx */
